{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pancake</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body data-theme="dark">
    <header class="hero is-fullheight-with-navbar">
        <!-- TODO: Add pancakes falling animation -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Welcome to Pancake!</h1>
            </div>
            <!-- Enter your project idea here box -->
            <div class="container box has-text-centered">
                <h2 class="subtitle is-size-3">Enter your project idea here</h2>
                <form id="project-form">
                    <div class="field">
                        <div class="control has-text-centered">
                            <input class="input" type="text" id="project-idea" placeholder="Your brilliant idea goes here">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-warning" type="submit">Generate Tech Stack</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <!-- Include JavaScript file -->
    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>