{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pancake</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body data-theme="dark">
    <div class="syrup-overlay"></div>
    <div class="hero is-fullheight" id="header">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <img src="{% static 'images/pancakes.png' %}" alt="Pancakes" class="box p-2 has-background-warning-dark">
                    </div>
                    <div class="column has-text-centered is-size-4">
                        <h1 class="title">Welcome to Pancake!</h1>
                        <p>Pancake is a GPT based software that helps full-stack developers speed up their projects by finding
                            the most appropriate tech stack for their project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box has-text-centered" style="width: 60%;" id="form">
        <h2 class="subtitle is-size-3 has-text-warning-light">Enter your project idea here...</h2>
        <div class="is-flex is-flex-direction-column is-justify-content-center">
            <form id="project-form" method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control has-text-centered is-size-2">
                        <input class="input narrow-input" type="text" id="project-idea" name="idea"
                            placeholder="Your brilliant idea goes here">
                    </div>
                    <h3 class="subtitle is-size-3 has-text-warning-light">Do you want to work with any specific
                        technologies?</h3>
                    <div class="control has-text-centered is-size-2">
                        <input class="input narrow-input" type="text" id="project-technology" name="technology"
                            placeholder="Your skills and technologies go here">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-warning" type="submit">Generate Tech Stack</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Use the django 'response' dictionary variable to list out the technologies -->
    <div class="container has-text-centered is-size-4">
        <h2 class="subtitle is-size-3 has-text-warning-light">Recommended Tech Stack</h2>
        <div id="tech-stack">
            {% for tech in response %}
            <div class="card m-2">
                <div class="card-content">
                    <div class="content">
                        <h3 class="title is-4">{{ tech }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Include JavaScript file -->
    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>